IMPORTAR LIBRERÍAS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

CARGAR EL DATASET

In [5]:
# Cargar el archivo .csv separado por tabulaciones
dataframe = pd.read_csv('HEPATITISCVirusPacientesDeEgiptoDatosPerdidos.csv', sep= ';')
dataframe.head(10)

,AGE,GENDER,BMI,FEVER,NAUSEA,HEADACHE,DIARRHEA,FATIGUE,JAUNDICE,EPIGASTRIA_PAIN,...,ALT 36,ALT 48,ALT_AFTER_24W,RNA_BASE,RNA 4,RNA 12,RNA_EOT,RNA_EF,BASELINEHISOLOGICAL_GRADING,BASELINEHISTOLOGICAL_STAGING
0,56,1,35,2,1,1,1,2,2,2,...,5,5,5,655330,634536,288194,5,5,13,2
1,46,1,29,1,2,2,1,2,2,1,...,57,123,44,40620,538635,637056,336804,31085,4,2
2,57,1,33,2,2,2,2,1,1,1,...,5,5,5,571148,661346,5,735945,558829,4,4
3,49,2,33,1,2,1,2,1,2,1,...,48,77,33,1041941,449939,585688,744463,582301,10,3
4,59,1,32,1,1,2,1,2,2,2,...,94,90,30,660410,738756,3731527,338946,242861,11,1
5,58,2,22,2,2,2,1,2,2,1,...,73,114,29,1157452,1086852,5,5,5,4,4
6,42,2,26,1,1,2,2,2,2,2,...,84,80,28,325694,1034008,275095,214566,635157,12,4
7,48,2,30,1,1,2,2,1,1,2,...,96,53,39,641129,72050,787295,370605,506296,12,3
8,44,1,23,1,1,2,2,2,1,2,...,122,39,45,591441,757361,5,371090,203042,5,2
9,45,1,30,2,1,2,2,1,1,2,...,125,43,30,1151206,230488,267320,275295,555516,4,2